.table {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12rem, 12fr)); */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 10px;

  margin-top: 20px;
}

.copyRightTable {
  color: white;
  font-weight: 600;
  margin: 0;
}

.containerre {
  text-align: center;
  grid-column-end: span 2;
}

@media (min-width: 748px) {
  .table {
    padding-left: 250px;
    padding-right: 250px;
  }

  .containerre {
    text-align: center;
    grid-column-end: span 1;
  }
}
