.table {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12rem, 12fr)); */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 10px;

  margin-top: 20px;
}

@media (min-width: 748px) {
  .table {
    padding-left: 250px;
    padding-right: 250px;
  }
}
