.backgroundNinos {
  background-image: url('../../Assets/Background/background2.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.responsiveImage {
  width: 100%;
  height: 100vh;
}

.fondoAzul {
  width: 100vw;
  height: 50vh;
}

.ninos {
  width: 100vw;
  position: relative;
  top: -250px;
  z-index: -5;
}

.top {
  z-index: 9999;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
}

.celebremos {
  width: 20%;
  position: relative;
  top: 10px;
  display: block;
  margin: 0 auto;
}

.boton {
  width: 10%;
  margin: 5px auto;
  cursor: pointer;
  top: -15px;
}

@media (max-width: 748px) {
  .ninos {
    top: -150px;
  }

  .fondoAzul {
    height: 60vh;
  }

  .celebremos {
    width: 55%;
  }

  .boton {
    width: 35%;
  }
}
